doctype html
html
  head
    title Anime_bash
    block scripts
        
    block style 

    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap")
    
  body
    nav#navbar 
        .logo 
            img(src="../static/image/logo2.png", alt="logo")
        ul 
            li #[a(href="/") Home]
            li #[a(href="/") Anime meg]
            li #[a(href="/") Events]
            li #[a(href="/join") Join Us]
            li #[a(href="/") Contact Us]
    block content
    footer 
        | Copyright@Anime_bash.com.in